[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "==2.2.2"
numpy = "==1.26.4"
XlsxWriter = "==3.2.0"
requests = "*"
boto3 = "*"

[requires]
python_version = "3.10"
