#if(!$ctx.args.input.containsKey("status"))
  #set($status = "DRAFT")
  #if($ctx.args.input.archived == true)
    #set($status = "ARCHIVED")
  #else
    #set($status = "ACTIVE")
  #end
  #set($ctx.args.input.status = $status)
#end
$util.toJson($ctx.args.input) 