# society identifiers

VITE_APP_SOCIETY_VERBOSE_NAME=""
VITE_APP_SOCIETY_CAMEL_CASE_NAME=""
VITE_APP_SOCIETY_KEBAB_CASE_NAME=""
VITE_APP_SOCIETY_WEBSITE_HREF=""

# society colors (not implemented yet)

VITE_APP_SOCIETY_BACKGROUND_COLOR=""
VITE_APP_SOCIETY_BACKGROUND_COLOR_BRIGHT=""
VITE_APP_SOCIETY_ITEM_HOVER_COLOR=""

## image paths

VITE_APP_LOGO_BIG=""
VITE_APP_LOGO_SMALL_SRC=""
VITE_APP_LOGO_ICON_SRC=
VITE_APP_LOGIN_BACKGROUND_IMAGE_SRC=""

## backend base url

VITE_APP_BACKEND_URL=""
